@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background: burlywood;
    padding: 1rem;
    height: 10vh;
}
.navbar{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}